name: ci

# Controls when the action will run
on:

  # Trigger the workflow on all pushes, except on tag creation
  push:
    branches:
    - '**'
    tags-ignore:
    - '**'

  # Trigger the workflow on all pull requests
  pull_request: ~

  # Allow workflow to be dispatched on demand
  workflow_dispatch: ~

jobs:
  ci:
    name: ci
    strategy:
      matrix:
        os:
        - ubuntu-20.04
        - ubuntu-18.04
        - macos-10.15
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: '12'

    - name: Install Dependencies
      run: npm install

    - name: Code QA
      run: npm run lint -- --no-fix

    - name: Test Build
      run: npm run build

    - name: Run Tests
      run: npm test

    - name: Codecov Upload
      if: env.CODECOV_TOKEN && matrix.os == 'ubuntu-20.04'
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      run: |
        npm install -g codecov
        codecov
